.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  flex: 1;
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  .hint {
    color: rgb(151, 151, 151);
  }
}
